
#hero{
  width:100%;
  height: 30vh; 
  display: flex;
  justify-content: center; 
}

#hero-image{
  width:100vw;
  height: 30vh;/*Change it to 60*/
}

h1 {
  position: absolute;
  color:white;
  text-align: center;
  font-size: 2.5em;
}

#whyUs{
  width:40%;
  float:none;
}

#callToAction {
  width:600px;
  float:none;

}

@media (max-width: 800px) {
  #whyUs, #callToAction {
      width: 100%;
  }
}
