.mdc-top-app-bar {
    z-index: 20;
}
.mdc-top-app-bar--fixed-adjust {
    padding-top: 100px;
}

.standard-margin {
    margin: 10px;
  }
.ampler-padding {
    padding: 24px;
  }

#hero{
    width:100%;
    height: 70vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
}

#hero-image{
    width:100vw;
    height: 80vh;
    filter: blur(3px);
    position: absolute;
}


#welcomeMessage {
    position: absolute;
    color: transparent;
    text-align: center;
    font-size: 3.5em;
    z-index: 10;
    display: flex;
    -webkit-text-stroke: 0.09vw var(--dark-grey);
    text-transform: uppercase;
    font-family: 'Impact', fantasy;
    font-weight: 900;
    margin: 20px;
}


#welcomeMessage::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--dark-grey);
    -webkit-text-stroke: 0vw rgb(112, 228, 112);
    border-right: 3px solid var(--gold);
    overflow: hidden;
    animation: animate 10s linear infinite; 
    white-space: nowrap;
}

@keyframes animate
{
    0%, 10%, 100%
    {
        width: 0;  
    }
    70%, 90%
    {
        width: 100%
    }
}

h2 {
    font-size: 2.5em;
    font-family: 'Chalkduster', sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 40px;
}

p {
    font-size: 1.5em; 
    grid-column: 1 / -1;
    padding: 20px;
}

.textContent {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
}

#aboutUs{
    height: 450px;
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;  
    gap: 20px;
    font-family: 'PT Serif', serif;
    overflow: auto;
}

#hearts {
    display: flex;
    align-items: center;  
    justify-content: center; 
}

#whyUs{
    height: 450px;
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;  
    gap: 20px;
    font-family: 'PT Serif', serif;
    justify-self: end;
    overflow: auto;
}

#clubs {
    display: flex;
    align-items: center;  
    justify-content: center; 
}

#callToAction {
    height: 450px;
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;  
    gap: 20px;
    font-family: 'PT Serif', serif;
    overflow: auto;
}

#diamonds{
    display: flex;
    align-items: center;  
    justify-content: center; 
}

#quoteSection {
    width: 100%vw;         
    height: 200px;    
    background-color: var(--dark-grey);  
    text-align: center;
    margin: 20px auto;       
    display: flex;           
    align-items: center;    
    justify-content: center; 
    padding: 20px;        
}

blockquote{
    font-size: 1.5em; 
    max-width: 90%;          
    font-style: italic; 
    font-family: 'PT Serif', serif;   
}

#whatPeopleSay{
    width: 100%vw;         
    height: 400px;    
    background-color: var(--dark-grey);  
    text-align: center;
    margin: 20px auto;       
    display: flex;              
    justify-content: center; 
    padding: 20px;   
}

#whatPeopleSayHeading {
    font-family: 'Times New Roman', serif;
}

.startButton {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5em 1em;
    background-color: var(--white);
    color: var(--dark-red);
    border: 5px solid var(--dark-red);
    border-radius: 3px;

    transition: all 0.3s;
}

.startButton:hover{ 
    transform: translateY(-10px);
    background-color: var(--dark-red);
    color: var(--white);
    border: 5px solid var(--dark-red);
}

@media (max-width: 800px){
    #aboutUs, #hearts,
    #whyUs, #clubs, 
    #callToAction, #diamond {
        grid-template-columns: 1fr;
    }
    #welcomeMessage {
        font-size: 2em; 
    }

}
